<footer id="footer">
  <div class="card text-center">
    <div class="card-header">
      Infinity Mensageiro - Um tributo aos clássicos chats
    </div>
    <div class="card-body">
      <p class="h6">Este app NÃO salva as conversas e recomenda idade de 16+ anos.</p>
      <p class="h6">Mesmo que o app apoie conversas com estranhos, avisamos que o
        usuário deve tomar todo o cuidado ao falar com quem não conhece.</p>
      <p class="card-text">&copy; Copyright 2021 by Gabriel Henrique da Silva</p>
      <a target="_blank" href="https://github.com/oGabrielSilva" class="btn btn-dark">
        <i class="bi-github" style="display: flex;" role="img" aria-label="Github"></i>
      </a>
    </div>
    <div class="card-footer text-muted">
      Infinity Mensageiro is Powered by Gabriel.
    </div>
  </div>
</footer>
<script src="/assets/js/bundle.js"></script>
</body>

</html>