<header>
<% if(!user) { %>
  <nav class="navbar navbar-expand-lg mb-4 navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Infinity</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Criar conta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Sua conta</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Salas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="room/offtopic">Off-topic</a></li>
              <li><a class="dropdown-item" href="/room/sharing">Salas</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/room/private">Crie sua sala</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <% } else { %>
    <nav class="navbar navbar-expand-lg mb-4 navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Infinity</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login">Conta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login/out">Sair</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Salas
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="room/offtopic">Off-topic</a></li>
                <li><a class="dropdown-item" href="/room/sharing">Salas</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/room/private">Crie sua sala</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <% } %>
</header>